/* screen gets funky when smaller than 1247px. This changes the nav to a hamburger menu when it reaches that size. There might be a better fix */
@media (min-width: 1247px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex;
    }
    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 1246px){
    #navbarCollapse a{
        display: block;!important;
        border-bottom: 1px solid #EAEAEB;
    }
    div.div-image {
        margin-left: 95%;
    }
    .navbar-toggler {
        position: absolute;
        top: 10px;
    }
    .row {
        display: block;
    }
}

.align-side-by-side {
    display: inline-block;
}

.background-blue {
    background-color: #123563;
    border-color: #0F2C52;
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

.btn-primary {
    color: #fff;
    background-color: #0056B5;
    border-color: #0056B5;
}

.center-page {
    text-align: center;
}

div.footer {
    background-color: #fafafa;
    border-color: #d8d8d8;
    text-align: left;
    border-top: 1px solid #eee;
    margin-top: 3em;
    color: #6c757d;
    font-size: 0.9em;
}

.dropdown {
    margin: 10px;
}

html, body {
    background-color: #fafafa;
}

nav.navbar {
    color: white;
    padding: 0 10px;
}

nav a {
    padding: 0 10px;
}

.submit {
    margin: 10px;
}

.shuttle-margins {
    width: 100%;
    margin: 20px auto;
    max-width: 95%;
}

.txt-underline:hover {
    text-decoration: underline;
}