body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

.center-page {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    margin: 10px;
}

.submit {
    margin: 10px;
}

html, body {
    background-color: #fafafa;
}

div.footer {
    background-color: #fafafa;
    border-color: #d8d8d8;
    text-align: left;
    border-top: 1px solid #eee;
    margin-top: 3em;
    color: #6c757d;
    font-size: 0.9em;
}

nav.navbar {
    color: white;
    padding: 0 10px;
}

.background-blue {
    background-color: #123563;
    border-color: #0F2C52;
}

.shuttle-margins {
    width: 100%;
    margin: 20px auto;
    max-width: 95%;
}