{% extends 'shuttle_base.html' %}
<!-- TODO: Make only viewable by admins/drivers. Make logs real data -->
<!-- TODO: Maybe reset data after every day and send report to driver supervisors -->
<title>Shuttle | {% block page_title %}Driver Logs{% endblock %}</title>
{% block body_content %}
<!-- TODO: Use for loop to fill table with values. Set it up to send info as txt file? Maybe sort tables by driver -->
    <h4>Driver Shuttle Logs</h4>
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Location</th>
                <th scope="col">Check In</th>
                <th scope="col">Check Out</th>
            </tr>
            </thead>
            <tbody>
                {% for key,parent_dict_item in shuttle_logs.items() %}
                    <tr>
                        {% if parent_dict_item['location'] != None %}
                            <td class="driver">{{ parent_dict_item['username'] }}</td>
                            <td class="location">{{ parent_dict_item['location'] }}</td>
                            <td class="check-in">{{ parent_dict_item['arrival_time'] }}</td>
                            <td class="check-out">{{ parent_dict_item['departure_time'] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <h4>Driver Break Logs</h4>
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Break Time In</th>
                <th scope="col">Break Time Out</th>
            </tr>
            </thead>
            <tbody>
                {% for key,parent_dict_item in shuttle_logs.items() %}
                    <tr>
                        {% if parent_dict_item['location'] == None %}
                            <td class="driver">{{ parent_dict_item['username'] }}</td>
                            <td class="check-in">{{ parent_dict_item['arrival_time'] }}</td>
                            <td class="check-out">{{ parent_dict_item['departure_time'] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}