{% extends 'shuttle_base.html' %}
<title>Shuttle | {% block page_title %}Driver Logs{% endblock %}</title>
{% block body_content %}
    <div class="center-page">
        <h4>Select a date below to view its corresponding logs</h4>
        <div class="align-side-by-side">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle date-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a date</button>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                    {% for i in range(date_list|length) %}
                        <a class="dropdown-item" href="#">{{ date_list[i] }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="driver_log_display"></div>

    <script>
     $(document).ready(function() {
         window.onload = load_data("today's date");
         function load_data(data){
             $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: "{{ url_for('SchedulesView:shuttle_logs') }}",
                data: JSON.stringify((data)),
            }).done(function (data) {
                $("#driver_log_display").html(data);
            });
         }
        $(".dropdown-menu a").click(function() {
            // Dropdown shows location selected
            $(".date-menu:first-child").text($(this).text());
            $(".date-menu:first-child").val($(this).text());
            // Sends data to be shown on screen
            var data = {"date": $('.date-menu').val()}
            load_data(data);
        });
    });
    </script>

{% endblock %}

