{% block body_content %}

    <div class="small-card">
        <div class="card-body log-body scrolling-wrapper">
            <table class="table table-hover">
                <tbody>
                {% for i in range(schedule|length) %}
                    <tr>
                        {% for j in range(schedule[i]|length) %}
                            {% if j % 2 == 0 %}
                                <td class="even-column">
                                    {% else %}
                                <td>
                            {% endif %}
                        {% if i == 0 %}
                            <h7 class="schedule-time"><b>{{ schedule[i][j] }}</b></h7>
                        {% else %}
                            <h7 class="schedule-time">{{ schedule[i][j] }}</h7>
                        {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}