{% extends 'shuttle_base.html' %}
<!-- TODO:  make submit buttons work/ select next location after submitting so it is easier for drivers -->
{% block body_content %}
<title>Shuttle | {% block page_title %}Driver Check In{% endblock %}</title>

    <div class="center-page">
        <div class="align-side-by-side">
            <h4>Leaving from:</h4>
        </div>
        <div class="align-side-by-side">
            <div class="align-side-by-side">
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle leaving-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                    <div class="dropdown-menu leaving-drop scrollable-menu" aria-labelledby="dropdownMenuButton">
                        {% for location in locations %}
                            <a class="dropdown-item" href="#">{{ location }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="align-side-by-side">
                <input class="btn btn-warning btn-lg submit-leaving" type="submit" value="Submit">
            </div>
        </div>
    </div>
    <div class="center-page">
        <div class="align-side-by-side">
            <h4>Arriving at:</h4>
        </div>
        <div class="align-side-by-side">
            <div class="align-side-by-side">
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle arriving-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                    <div class="dropdown-menu arriving-drop scrollable-menu" aria-labelledby="dropdownMenuButton">
                       {% for location in locations %}
                           <a class="dropdown-item" href="#">{{ location }}</a>
                       {% endfor %}
                    </div>
                </div>
            </div>
            <div class="align-side-by-side">
                <input class="btn btn-warning btn-lg submit-arriving" type="submit" value="Submit">
            </div>
        </div>
    </div>
    <hr>
    <div class="center-page">
        <div class="align-side-by-side">
            <div class="submit">
                <input class="btn btn-primary btn-sm check-out-btn" type="submit" value="Check out for break">
            </div>
        </div>
        <div class="align-side-by-side">
            <div class="submit">
                <input class="btn btn-primary btn-sm check-in-btn" type="submit" value="Check in from break">
            </div>
        </div>
    </div>
    <div class="center-page">
       <h4>Current status:<span class="badge badge-light">Not on break</span></h4>
    </div>

    <script>
    $(document).ready(function() {
        $(".leaving-drop a").click(function () {
            // Dropdown shows leaving location selected
            $(".leaving-menu:first-child").text($(this).text());
            $(".leaving-menu:first-child").val($(this).text());
        });
        $(".arriving-drop a").click(function () {
            // Dropdown shows arriving location selected
            $(".arriving-menu:first-child").text($(this).text());
            $(".arriving-menu:first-child").val($(this).text());
        });

        $('.submit-leaving').click(function () {
            // Sends selected location and user info to database.
            var data = {"location": $('.leaving-menu').val(), "direction": "departure"}
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: "{{ url_for('SchedulesView:send_driver_check_in_info') }}",
                data: JSON.stringify((data)),
            }).done(function (data) {
                location.reload();
            })
        });
        $('.submit-arriving').click(function () {
            // Sends selected location and user info to database.
            var data = {"location": $('.arriving-menu').val(), "direction": "arrival"}
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: "{{ url_for('SchedulesView:send_driver_check_in_info') }}",
                data: JSON.stringify((data)),
            }).done(function (data) {
                location.reload();
            })
        });

        $('.check-out-btn').click(function () {
            // Sends break info to database
            var data = {"break": "Y"}
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: "{{ url_for('SchedulesView:send_driver_check_in_info') }}",
                data: JSON.stringify((data)),
            }).done(function (data) {
                $(".badge").text(data);
            })
        });
        $('.check-in-btn').click(function () {
            // sends check-in from break info to database
            var data = {"break": "N"}
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: "{{ url_for('SchedulesView:send_driver_check_in_info') }}",
                data: JSON.stringify((data)),
            }).done(function (data) {
                $(".badge").text(data);
            })
        });
    });
    </script>

{% endblock %}
