{% extends 'shuttle_base.html' %}
<!-- TODO: select next location after submitting so it is easier for drivers -->
{% block body_content %}
<title>Shuttle | {% block page_title %}Driver Check In{% endblock %}</title>

    <div class="center-page">
        <h4>Select a View below</h4>
        <div class="align-side-by-side">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle driver-view-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Driver View</button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Location check in</a>
                    <a class="dropdown-item" href="#">Active requests</a>
                    <a class="dropdown-item" href="#">Break check in</a>
                </div>
            </div>
        </div>
    </div>

    <div id="driver_check_in_display"></div>

    <script>
        $(document).ready(function() {
            window.onload = load_data({'view':'Active requests'})
            function load_data(data){
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: "{{ url_for('SchedulesView:load_driver_view') }}",
                    data: JSON.stringify((data)),
                }).done(function (data) {
                    $("#driver_check_in_display").html(data);
                });
            }
            $(".dropdown-menu a").click(function() {
                // Dropdown shows location selected
                $(".driver-view-menu:first-child").text($(this).text());
                $(".driver-view-menu:first-child").val($(this).text());
                // Sends data to be shown on screen
                var data = {'view': $('.driver-view-menu').val()}
                load_data(data);
            });
         });
    </script>

{% endblock %}
