{% extends 'shuttle_base.html' %}
<!--TODO: add actual schedule and past and future route locations/times-->
<title>Shuttle | {% block page_title %}Schedule{% endblock %}</title>
{% block body_content %}
    <div class="center-page">
        <div class="align-side-by-side">
            <div class="card" >
                <div class="card-body">
                    <h4 class="card-title">Shuttle Schedule</h4><hr>
                    <h5>*Insert schedule here*</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}