{% extends 'shuttle_base.html' %}
    <title>Shuttle | {% block page_title %}Users{% endblock %}</title>

{% block body_content %}
    <h4>Users</h4>
    <input class="form-control user-search" type="text" placeholder="Search" aria-label="Search">
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for key,parent_dict_item in shuttle_user.items()%}
                <tr>
                    <td class="name">{{ parent_dict_item['name'] }}</td>
                    <td class="username">{{ parent_dict_item['username'] }}</td>
                    <td class="role">{{ parent_dict_item['role'] }}</td>
                    <td>
                        <button type="button" id="edit_button" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" id="delete_button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<script type="text/javascript">
    $(document).ready(function(){
        document.getElementById("delete_button").onclick = function eventClick(username) {
        $.ajax({
            type:"POST",
            url: "{{ url_for('SchedulesView:load_user_data') }}",
            data: JSON.stringify({
                'username': username,
            }),
            content_type: 'application/json;charset=UTF-8',
            success: function(username){
                $('#delete-modal').modal('show');
            },
            error:function(error){
            }
        })
       }
    })
</script>
{% endblock %}