{% extends 'shuttle_base.html' %}
    <title>Shuttle | {% block page_title %}Users{% endblock %}</title>

{% block body_content %}
    <h4>Users</h4>
    <input class="form-control user-search" type="text" placeholder="Search" aria-label="Search">
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for key,parent_dict_item in shuttle_user.items()%}
                <tr>
                    <td class="name">{{ parent_dict_item['name'] }}</td>
                    <td class="username">{{ parent_dict_item['username'] }}</td>
                    <td class="role">{{ parent_dict_item['role'] }}</td>
                    <td>
                        <button type="button" id="edit-button" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal" name="{{ parent_dict_item['username'] }}">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" id="delete-button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" name="{{ parent_dict_item['username'] }}">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<script type="text/javascript">
    $(document).ready(function(){
        let button = document.getElementById("delete-button");
        button.onclick = function(){
            {#let username = button.attributes["name"].value#}
            var data = {"username": button.attributes["name"].value}
            console.log(data)
            $.ajax({
                type:"POST",
                url: "{{ url_for('SchedulesView:load_user_data') }}",
                data: JSON.stringify((data)),
                content_type: 'application/json',
                success: function(){
                    $('#delete-modal').modal('show');
                },
                error:function(error){
                }
            })
        }
    })
</script>
{% endblock %}