{% extends 'shuttle_base.html' %}

<title>Shuttle | {% block page_title %}Request{% endblock %}</title>
{% block body_content %}

    {% if active_requests['requested-pick-up'] %}
        <div class="center-page shuttle-margins">
            <h3>Your Position In The Waitlist: <span class="badge badge-pill badge-warning waitlist">{{ position_in_waitlist }}</span></h3>
            <div class="small-card">
                <div class="card-body">
                    <h4>Pick Up: <span class="badge badge-pill badge-warning pick-up-status">{{ active_requests['requested-pick-up'] }}</span></h4>
                    <h4>Drop Off: <span class="badge badge-pill badge-warning drop-off-status">{{ active_requests['requested-drop-off'] }}</span></h4>
                    <input class="btn btn-danger btn-sm delete-btn" type="submit" value="Delete Request">
                </div>
            </div>
        </div>
    {% else %}
        <div class="center-page shuttle-margins">
            <h3>Current Shuttle Waitlist: <span class="badge badge-pill badge-warning waitlist">{{ active_requests['waitlist-num'] }}</span></h3>
        </div>

        <div class="center-page shuttle-margins">
            <h4>Select pick up and drop off location below to request a shuttle:</h4>
            <div class="center-page">
                <div class="align-side-by-side">
                    <h4>Pick Up:</h4>
                </div>
                <div class="align-side-by-side">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-lg dropdown-toggle pick-up-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                        <div class="dropdown-menu scrollable-menu dropdown-pick-up" aria-labelledby="dropdownMenuButton">
                            {% for location in locations %}
                                <a class="dropdown-item" href="#">{{ location }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-page">
                <div class="align-side-by-side">
                    <h4>Drop Off:</h4>
                </div>
                <div class="align-side-by-side">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-lg dropdown-toggle drop-off-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                        <div class="dropdown-menu scrollable-menu dropdown-drop-off" aria-labelledby="dropdownMenuButton">
                            {% for location in locations %}
                                <a class="dropdown-item" href="#">{{ location }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-page">
                <div class="align-side-by-side">
                    <div class="submit">
                        <input class="btn btn-warning btn-lg submit-btn" type="submit" value="Request Shuttle">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="request-info">
        <div class="center-page">
            <div class="small-card">
                <div class="card-body">
                    <h5><a href="https://www.bethel.edu/transportation/shuttle/weekend-schedule.pdf" rel="noopener" target="_blank">On Call Shuttle Information (pdf)</a></h5>
                    <p>
                        <b>The On Call Shuttle runs weekdays during business hours at the following times:
                            8:00-9:00am; 9:45-10:45am; 1:00-1:45pm; 2:30-5:30pm.</b>
                        During these times the shuttle only services to off campus stop locations.
                        If you request a shuttle outside of these times, the shuttle will be unable to assist.
                    </p>
                    <p>
                        <b>After Business hours on weekdays the shuttle runs 5:30-9:00pm and Weekends 12:30-9:00pm.</b>
                        During these times the On Call shuttle services all campus and off campus shuttle stops.
                        The On Call Shuttle only services <a href="https://www.bethel.edu/transportation/shuttle/stop-information" rel="noopener" target="_blank">approved shuttle stops</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $(".dropdown-pick-up a").click(function(){
                // Dropdown shows location selected
                $(".pick-up-menu:first-child").text($(this).text());
                $(".pick-up-menu:first-child").val($(this).text());
            });
            $(".dropdown-drop-off a").click(function(){
                // Dropdown shows location selected
                $(".drop-off-menu:first-child").text($(this).text());
                $(".drop-off-menu:first-child").val($(this).text());
            });
            $('.submit-btn').click(function () {
                // Sends selected location and user info to database. Updates waitlist
                var data = {
                    "pick-up-location":$('.pick-up-menu').val(),
                    "drop-off-location":$('.drop-off-menu').val()
                }
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: "{{ url_for('RequestShuttleView:send_shuttle_request_path') }}",
                    data: JSON.stringify((data)),
                }).done(function () {
                    location.reload();
                })
            });
            $('.delete-btn').click(function () {
                // Deletes user's current shuttle request
                $.ajax({
                    url: "{{ url_for('RequestShuttleView:delete_request') }}",
                }).done(function () {
                    location.reload();
                })
            });
        });
    </script>

{% endblock %}