{% extends 'shuttle_base.html' %}
{% block body_content %}
<title>Shuttle | {% block page_title %}Driver Check In{% endblock %}</title>
    <h4>Please select a drive view below</h4>
    <div class="driver-selector">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle driver-view-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Driver View</button>
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Location Check In</a>
                <a class="dropdown-item" href="#">Active Requests</a>
            </div>
        </div>
    </div>

    <div id="driver_check_in_display"></div>

    <div class="center-page">
        <div class="break-section">
            <h5>Current Status: <b>{{ current_break_status }}</b></h5>
            {% if current_break_status == 'On break' %}
                <div class="submit">
                    <input class="btn btn-warning btn-sm check-in-btn" type="submit" value="Clock in from break">
                </div>
            {% else %}
                <div class="submit">
                    <input class="btn btn-warning btn-sm check-out-btn" type="submit" value="Clock out for break">
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        $(document).ready(function() {
            window.onload = load_data({'view': {{ driver_select|tojson}}});
            window.onload = $(".driver-view-menu:first-child").text({{ driver_select|tojson }});
            function load_data(data){
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: "{{ url_for('DriverCheckInView:load_driver_view') }}",
                    data: JSON.stringify((data)),
                }).done(function (data) {
                    $('.spinner-img').hide()
                    $("#driver_check_in_display").html(data);
                });
            }
            $(".dropdown-menu a").click(function() {
                $('.spinner-img').show()
                // Dropdown shows location selected
                $(".driver-view-menu:first-child").text($(this).text());
                $(".driver-view-menu:first-child").val($(this).text());
                // Sends data to be shown on screen
                var data = {'view': $('.driver-view-menu').val()}
                load_data(data);
            });
         });
    </script>

{% endblock %}
