{% block body_content %}

    <div id="request-results"></div>
    <div class="center-page">
        <div class="center-page shuttle-margins">
            <h4>Active Requests: <span class="badge badge-pill badge-warning waitlist">{{ active_requests }}</span></h4>
        </div>

        {% if active_requests != 0 %}
            <div id="request-information">
                <div class="card scrolling-wrapper">
                    <div class="card-body log-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Time Of Request</th>
                                <th scope="col">Pick Up At</th>
                                <th scope="col">Drop Off At</th>
                                <th scope="col">Complete Request</th>
                                <th scope="col">Delete Request</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request in requests %}
                                <tr>
                                    <td class="driver">
                                        {% if requests[request]['name'] != None %}
                                            {{ requests[request]['name'] }}
                                        {% endif %}
                                    </td>
                                    <td class="location">
                                        {% if requests[request]['log_date'] != None %}
                                            {{ requests[request]['log_date'] }}
                                        {% endif %}
                                    </td>
                                    <td class="check-out">
                                        {% if requests[request]['pick_up_location'] != None %}
                                            {{ requests[request]['pick_up_location'] }}
                                        {% endif %}
                                    </td>
                                    <td class="check-in">
                                        {% if requests[request]['drop_off_location'] != None %}
                                            {{ requests[request]['drop_off_location'] }}
                                        {% endif %}
                                    </td>
                                    <td class="complete-request">
                                        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#complete-request-modal" onclick="completeRequestButton('{{ requests[request]['username'] }}')">
                                            Complete
                                        </button>
                                    </td>
                                    <td class="delete-request">
                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-request-modal" onclick="deleteRequestButton('{{ requests[request]['username'] }}')">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="break-section">
            <div class="center-page">
                <div class="align-side-by-side">
                    <div class="submit">
                        <input class="btn btn-warning btn-sm check-out-btn" type="submit" value="Clock out for break">
                    </div>
                </div>
                <div class="align-side-by-side">
                    <div class="submit">
                        <input class="btn btn-warning btn-sm check-in-btn" type="submit" value="Clock in from break">
                    </div>
                </div>
                <div class="break-section">
                    <h4>Current status:<span class="badge badge-light break-badge">{{ current_break_status }}</span></h4>
                </div>
            </div>
        </div>
    </div>

    <script>
        function deleteRequestButton(username) {
            // Deletes user's request
            var data = {"username": username}
            $.ajax({
                type:'POST',
                url: '{{ url_for('DriverCheckInView:load_request') }}',
                contentType: 'application/json',
                data: JSON.stringify((data)),
                success: function(response){
                    $('#request-results').html(response);
                    $('#delete-request-modal').modal('show');
                }
            })
        }
        function completeRequestButton(username) {
            // completes user's shuttle request
            var data = {"username": username}
            $.ajax({
                type: 'POST',
                url: '{{ url_for('DriverCheckInView:load_request') }}',
                contentType: 'application/json',
                data: JSON.stringify((data)),
                success: function (response) {
                    $('#request-results').html(response);
                    $('#complete-request-modal').modal('show');
                }
            })
        }
        $(document).ready(function() {
            $('.check-out-btn').click(function () {
                // Sends break info to database
                var data = {"break": "request-to-clock-out"}
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: "{{ url_for('DriverCheckInView:send_driver_break_info') }}",
                    data: JSON.stringify((data)),
                }).done(function (data) {
                    location.reload()
                })
            });
            $('.check-in-btn').click(function () {
                // sends check-in from break info to database
                var data = {"break": "request-to-clock-in"}
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: "{{ url_for('DriverCheckInView:send_driver_break_info') }}",
                    data: JSON.stringify(data),
                }).done(function (data) {
                    location.reload()
                })
            });
        });
    </script>

{% endblock %}