{% extends 'shuttle_base.html' %}
<title>Shuttle | {% block page_title %}Driver Logs{% endblock %}</title>
{% block body_content %}
    <h4>Please select a date below to view its corresponding logs</h4>
    <div class="align-side-by-side">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle date-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{date}}</button>
            <div class="dropdown-menu scrollable-menu date-dropdown" aria-labelledby="dropdownMenuButton">
                {% for i in range(date_list|length) %}
                    {% if i%2 == 0 %}
                        <a class="dropdown-item even-element" href="#">
                    {% else %}
                        <a class="dropdown-item" href="#">
                    {% endif %}
                    {{ date_list[i] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="align-side-by-side">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle sort-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By Time</button>
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading" style=""/>
            <div class="dropdown-menu scrollable-menu sort-dropdown" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item even-element" href="#">Sort By Time</a>
                <a class="dropdown-item" href="#">Sort By Name</a>
            </div>
        </div>
    </div>

    <div id="driver_log_display"></div>

    <script>
        $(document).ready(function() {
            window.onload = load_data({"date":{{ date|tojson }}, "sort":'Sort By Time'});
            function load_data(data){
                $('#img-spinner').show();
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: "{{ url_for('DriverLogsView:selected_shuttle_logs') }}",
                    data: JSON.stringify((data)),
                }).done(function (data) {
                    $('#img-spinner').hide();
                    $("#driver_log_display").html(data);
                });
            }
            $(".date-dropdown a").click(function() {
                // Dropdown shows location selected
                $(".date-menu:first-child").text($(this).text());
                // Sends data to be shown on screen
                var data = {"date": $('.date-menu').text(), "sort": $('.sort-menu').text()}
                load_data(data);
            });
            $(".sort-dropdown a").click(function() {
                // Dropdown shows location selected
                $(".sort-menu:first-child").text($(this).text());
                // Sends data to be shown on screen
                var data = {"date": $('.date-menu').text(), "sort": $('.sort-menu').text()}
                load_data(data);
            });
         });
    </script>

{% endblock %}
