{% block body_content %}

    {% if completed_requests %}
        <h4>Completed Requests</h4>
        <div class="card scrolling-wrapper">
            <div class="card-body log-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Driver</th>
                        <th scope="col">User</th>
                        <th scope="col">Picked Up</th>
                        <th scope="col">Dropped Off</th>
                        <th scope="col">Completed At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for i in range(completed_requests|length) %}
                            <td class="driver">
                                {% if completed_requests[i]['driver_name'] != None %}
                                    {{ completed_requests[i]['driver_name'] }}
                                {% endif %}
                            </td>
                            <td class="user">
                                {% if completed_requests[i]['user_name'] != None %}
                                    {{ completed_requests[i]['user_name'] }}
                                {% endif %}
                            </td>
                            <td class="pick-up-location">
                                {% if completed_requests[i]['pick_up_location'] != None %}
                                    {{ completed_requests[i]['pick_up_location'] }}
                                {% endif %}
                            </td>
                            <td class="drop-off-location">
                                {% if completed_requests[i]['drop_off_location'] != None %}
                                    {{ completed_requests[i]['drop_off_location'] }}
                                {% endif %}
                            </td>
                            <td class="completed">
                                {% if completed_requests[i]['completed_at'] != None %}
                                    {{ completed_requests[i]['completed_at'] }}
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if completed_requests and deleted_requests %}
        <hr>
    {% endif %}

    {% if deleted_requests %}
        <h4>Deleted Requests</h4>
        <div class="card scrolling-wrapper">
            <div class="card-body log-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Driver</th>
                        <th scope="col">User</th>
                        <th scope="col">Picked Up</th>
                        <th scope="col">Dropped Off</th>
                        <th scope="col">Deleted At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for i in range(deleted_requests|length) %}
                            <td class="driver">
                                {% if deleted_requests[i]['driver_name'] != None %}
                                    {{ deleted_requests[i]['driver_name'] }}
                                {% endif %}
                            </td>
                            <td class="user">
                                {% if deleted_requests[i]['user_name'] != None %}
                                    {{ deleted_requests[i]['user_name'] }}
                                {% endif %}
                            </td>
                            <td class="pick-up-location">
                                {% if deleted_requests[i]['pick_up_location'] != None %}
                                    {{ deleted_requests[i]['pick_up_location'] }}
                                {% endif %}
                            </td>
                            <td class="drop-off-location">
                                {% if deleted_requests[i]['drop_off_location'] != None %}
                                    {{ deleted_requests[i]['drop_off_location'] }}
                                {% endif %}
                            </td>
                            <td class="deleted">
                                {% if deleted_requests[i]['completed_at'] != None %}
                                    {{ deleted_requests[i]['completed_at'] }}
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <div class="center-page">
        {% if not completed_requests and not deleted_requests %}
            <h4>There are no On Call Driver logs available for today's date</h4>
        {% endif %}
    </div>

{% endblock %}