{% extends 'shuttle_base.html' %}

{% block body_content %}
    <div class="center-page">
        <div class="align-side-by-side">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Shuttle Check In</h4><hr>
                    <p class="card-text">The Shuttle was last checked in at: </p>
                    <div id="last-check-in"><h5></h5></div>
                    <hr>
                    <p class="card-text">At the time of: </p>
                    <div id="last-time-in"><h5></h5></div>
                </div>
            </div>
        </div>
        <div class="align-side-by-side">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Shuttle Current Route</h4><hr>
                    <p class="card-text">The Shuttle is in route to: </p>
                    <h5>*Insert location here*</h5><hr>
                    <p class="card-text">And should arrive at: </p>
                    <h5>*Insert time here*</h5>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            window.onload = check_in();
            function check_in() {
                $.ajax({
                    url: "{{ url_for('SchedulesView:grab_recent_driver_data') }}",
                })
                    .done(function (data) {
                        $("#last-check-in h5").html(data['location']);
                        $("#last-time-in h5").html(data['time']);
                    });
            }
        });
    </script>

{% endblock %}