<nav class="navbar navbar-expand-lg navbar-dark background-blue">
    <a class="navbar-brand" href="{{ url_for('View:index') }}">
        <img height="48" src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
        <a class="navbar-brand" href="{{ url_for('View:index') }}">Shuttle</a>
        <a class="navbar-brand" href="{{ url_for('View:stats') }}">Shuttle Stats</a>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline nav-item dropdown">
            <a class="nav-link dropdown-toggle {{ 'nav-bar-active' if 'View' in request.url_rule.endpoint }}" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Test</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            </div>
        </div>

        <div class="mr-auto"></div>

        <div class="form-inline nav-item dropdown">
            {% if session['NAME'] %}
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">{{ session['NAME'] }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('View:logout') }}">Logout</a>
                </div>
            {% else %}
                <a class="nav-link" id="navbarLogin" role="button" href="{{ url_for('View:index') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>