{% extends 'shuttle_base.html' %}
    <title>Shuttle | {% block page_title %}Add a New User{% endblock %}</title>

{% block body_content %}
    <div class="add-user-search">
        <h4>Add a New User</h4>
        <div class="new-user-text">
            <input type="text" id="f-name" placeholder="First Name">
            <input type="text" id="l-name" placeholder="Last Name">
        </div>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="searchButton()">Search</button>
    </div>
    <div class="dropdown-menu center-page" aria-labelledby="role-dropdown">
        <a class="dropdown-item">Administrator</a>
        <a class="dropdown-item">Driver</a>
    </div>
    <div id="results"></div>
    <script>
        function searchButton(){
            let fname = document.getElementById("f-name").value;
            let lname = document.getElementById("l-name").value;
            $.ajax({
                type:"POST",
                url: "{{ url_for('SchedulesView:search_users') }}",
                data: JSON.stringify({
                    'firstName': fname,
                    'lastName': lname
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function(response){
                    if(response == "error"){
                        window.location.reload();
                    }else{
                        $('#results').html(response);
                    }
                },
                error:function(error){
                }
            })
        }
    </script>
{% endblock %}