<!-- Add Modal -->
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add {{ username }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    What role would you like to make {{ username }}?
                </div>
                <div class="dropdown">
                    <button id="role-dropdown" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Role
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="changeRole('Administrator')">Administrator</a>
                        <a class="dropdown-item" onclick="changeRole('Driver')">Driver</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addUser('{{ username }}')" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- Delete Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete {{ username }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You are going to delete {{ username }}. Are you sure you want to do that?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteUser('{{ username }}')">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<!-- Edit Modal -->
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change role of {{ username }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="center-page">
                        <button type="button" class="btn btn-primary" onclick="editUser('{{ username }}', 'Administrator')">Administrator</button>
                        <button type="button" class="btn btn-primary" onclick="editUser('{{ username }}', 'Driver')">Driver</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#delete-modal').on('hidden.bs.modal', function() {
            $('#results').html('');
        });
        $('#edit-modal').on('hidden.bs.modal', function() {
            $('#results').html('');
        });

        let role = "Driver"

        function addUser(username){
            $.ajax({
                type:"POST",
                url: "{{ url_for('SchedulesView:add_user') }}",
                data:JSON.stringify({
                    'username' : username,
                    'role': role
                }),
                contentType:'application/json;charset=UTF-8',
                success: function(){
                    window.location.reload();
                },
                error: function(error){
                }
            })
        }

        function deleteUser(username){
            $.ajax({
                type:"POST",
                url: "{{ url_for('SchedulesView:delete_user') }}",
                data:JSON.stringify({
                    'username' : username
                }),
                contentType:'application/json;charset=UTF-8',
                success: function(){
                    window.location.reload();
                },
                error: function(error){
                }
            })
        }

        function editUser(username, role){
            $.ajax({
                type:"POST",
                url: "{{ url_for('SchedulesView:edit_user') }}",
                data:JSON.stringify({
                    'username' : username,
                    'role': role
                }),
                contentType:'application/json;charset=UTF-8',
                success: function(){
                    window.location.reload();
                },
                error: function(){
                }
            })
        }

        function changeRole(newRole){
            document.getElementById("role-dropdown").innerText = "Administrator"
            role = newRole;
        }
    </script>